@media (max-width: 580px) { 
    .main{
        margin-top: -20%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container{
        display: grid;
        margin-left: 20%;
    
    }
}


@media (min-width: 581px) and (max-width: 834px){
    .main{
        margin-top: -20%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container{
        display: grid;
        margin-left: 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }   
}


/* 3 cards na tela*/

@media (min-width: 835px) and (max-width: 1380px) { 
    .main{
        margin-top: -20%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
    }

}

@media (min-width: 966px) and (max-width: 1380px) { 
    .main{
        margin-top: -20%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container{
        display: grid;
        margin-left: 5%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
    }

}

/*4 cards na tela*/

@media (min-width: 1300px) and (max-width: 1580px) { 
    .main{
        margin-top: -23.5%;
        width: 100%;
        margin-left: 1%;
        margin-right: auto;
    }

    .grid-container{
        display: grid;
        margin-left: 2%;
        grid-template-columns: 1fr 1fr 1fr 1fr ; 
        grid-template-rows: 1fr 1fr ;
    
    }

}

@media (min-width: 1580px) { 
    .main{
        margin-top: -20%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }

}

@media (min-width: 1598px) { 
    .main{
        margin-top: -20%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container{
        margin-left: 2%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }

}

@media (min-width: 2000px) { 
    .main{
        margin-top: -17%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container{
        margin-left: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
    }

}